body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.top-nav a{
    float:right;
    margin-right:20px;
    text-decoration:none;
    color:Navy;
    margin: 20px;
}
h1{
    font-size:50px;
}
p{
    color: dimgray;
}
section{
    height:500px;
    padding-bottom : 150px;
}
#text-middle{
    text-align:center;
}

.coral-highlight{
    color:Coral;
}
.button-link{
    text-decoration:none;
    background-image : linear-gradient(45deg, lightSalmon, tomato);
    background-color:orange;
    color:white;
    padding : 15px 40px;
    border-radius : 5px;
    fond-weight : 700;
}
.half-width{
    width:36%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width: 100%;
}
.working-project{
    background-color: AliceBlue;
}

.single-project{
    width:25%;
    box-shadow: 10px 10px 40px gray;
    border-radius : 10px;
    background-color:white;
}
.half-width-skill{
    width:15%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.single-skill img{
    width:30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.single-skill{
    width:18%;
    height:37%;
    box-shadow: 20px 10px 40px LightSeaGreen;
    border-radius : 10px;
    background-color:white;
}




#img-last-section{
    display:block;
    border-radius:8px;
    margin-left: auto;
    margin-right: auto;
    height:45%;
    width:70%
}

.middle-box {
  margin: auto;
  width: 50%;
  text-align:center;
}

.icon-image{
    width:6%;
    padding:6px;
}


footer p{
    text-align:center;

}
